<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
      <section name="corruptTransportMessage" type="Shuttle.Esb.Module.CorruptTransportMessage.CorruptTransportMessageSection, Shuttle.Esb.Module.CorruptTransportMessage"/>
    </sectionGroup>
	</configSections>

	<shuttle>
    <corruptTransportMessage folder=".\folder" />
  </shuttle>
</configuration>