<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="corruptTransportMessage" type="Shuttle.Esb.Module.CorruptTransportMessage.CorruptTransportMessageSection, Shuttle.Esb.Module.CorruptTransportMessage"/>
	</configSections>

  <corruptTransportMessage folder=".\folder" />
</configuration>